<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>Тригонометрия</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/img/CAL-flat.ico">
    <link rel="stylesheet" href="../../../assets/stackstyles/header.css" />
    <link rel="stylesheet" href="../../../assets/stackstyles/sections.css" />
    <link rel="stylesheet" href="../test.css" />
    <link rel="stylesheet" href="../../../assets/stackstyles/katex.min.css" />

    <script src="answers.js"></script>
    <script defer src="../../../js/katex.min.js"></script>
    <script defer src="../../../js/auto-render.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                // ...options...
            });
        });
    </script>
</head>

<body>
    <header class="center column">
        <div class="biology__title">
            <p class="center">ЭЛЕКТРОННОЕ СРЕДСТВО ОБУЧЕНИЯ</p>
            <p class="center">ПО ДИСЦИПЛИНЕ "МАТЕМАТИКА"</p>
            <p>тригонометрические уравнения</p>
        </div>

        <div class="biology__poster">
            <a href="../../../Index.html">
                <img src="../../../assets/img/Biology_header.png" alt="Biology" />
            </a>
        </div>

        <nav class="biology__nav center column">
            <p class="nav__section">РАЗДЕЛЫ</p>

            <div class="nav__line"></div>

            <img src="../../../assets/img/navbar.png" alt="navbar" />

            <ul class="center row">
                <li class="nav__butt">
                    <a href="../../theory/theory.html">
                        <p>Теоретический</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../../practice/practice.html">
                        <p>Практический</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../../handbook/handbook.html">
                        <p>Справочник</p>
                    </a>
                </li>
                <li class="nav__butt active">
                    <a href="../../test/test.html">
                        <p>Контроля знаний</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../../other/other.html">
                        <p>Презентации</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="biology__content center column">
        <div>
            <div class="content__line"></div>
            <h1>Различные тригонометрические уравнения</h1>
            <h1>Вариант №25</h1>
            <div class="content__line"></div>
        </div>

        <article class="content__theme left row">
            <ul id="test">
                <li>
                    <p class="theme_task">1. $$2\cos^{2}x+3\cos x - 5 =0 $$</p>
                </li>
                <li>
                    <p class="theme_task">2. $$6\cos^{2}x-11\sin x - 10=0 $$</p>
                </li>
                <li>
                    <p class="theme_task">3. $$\sin^{2}x +7\sin x\cos x +12\cos^{2}x=0 $$</p>
                </li>
                <li>
                    <p class="theme_task">4. $$7\tg x -8\ctg x +10 =0  $$</p>
                </li>
                <li>
                    <p class="theme_task">5. $$9\cos^{2}x-\sin^{2}x=4\sin 2x $$</p>
                </li>
                <li>
                    <p class="theme_task">6. $$7\sin 2x + 3\cos 2x + 7 =0 $$</p>
                </li>
            </ul>
            <div class="answ_wrapper">
                <div class="btn" onclick="answShowHide()">Ответ</div>
                <div class="answer">
                    <ul id="test" style="margin: 0;">
                <li>
                    <p class="theme_task">1. $$2\pi n $$; $$(-\frac{5}{2};1) $$</p>
                </li>
                <li>
                    <p class="theme_task">2. $$(-1)^{n-1}\frac{\pi}{6}+\pi n$$; $$(-\frac{4}{3}; -\frac{1}{2}) $$</p>
                </li>
                <li>
                    <p class="theme_task">3. $$-\arctg 4 +\pi n $$; $$-\arctg 3 +\pi k$$</p>
                </li>
                <li>
                    <p class="theme_task">4. $$-\arctg 2 +\pi n $$; $$\arctg\frac{4}{7}+\pi k $$</p>
                </li>
                <li>
                    <p class="theme_task">5. $$\frac{\pi}{4}+\pi n $$; $$-\arctg 9 +\pi k $$</p>
                </li>
                <li>
                    <p class="theme_task">6. $$-\frac{pi}{4}+\pi n $$; $$-\arctg\frac{5}{2}+\pi k $$</p>
                </li>
            </ul>
                </div>
            </div>
        </article>
    </section>


    <footer>
        <div class="footer__line"></div>
        <div class="footer__authors center column">
            <p>Электронное средство обучения по дисциплине "Биология" 2020</p>
        </div>
    </footer>
</body>

</html>