<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Biology</title>
    <link rel="stylesheet" href="../../assets/stackstyles/header.css" />
    <link rel="stylesheet" href="../../assets/stackstyles/sections.css" />
    <link rel="stylesheet" href="practice.css" />
</head>

<body>
    <header class="center column">
        <div class="biology__title">
            <p class="center">ЭЛЕКТРОННОЕ СРЕДСТВО ОБУЧЕНИЯ</p>
            <p class="center">ПО ДИСЦИПЛИНЕ "МАТЕМАТИКА"</p>
            <p>тригонометрические...</p>
        </div>

        <div class="biology__poster">
            <a href="../../Index.html">
                <img src="../../assets/img/Biology_header.png" alt="Biology" />
            </a>
        </div>

        <nav class="biology__nav center column">
            <p class="nav__section">РАЗДЕЛЫ</p>

            <div class="nav__line"></div>

            <img src="../../assets/img/navbar.png" alt="navbar" />

            <ul class="center row">
                <li class="nav__butt">
                    <a href="../theory/theory.html">
                        <p>Теоретический</p>
                    </a>
                </li>
                <li class="nav__butt active">
                    <a href="../practice/practice.html">
                        <p>Практический</p>
                    </a>
                </li>
                <li class="nav__butt">
                  <a href="../handbook/handbook.html">
                      <p>Справочник</p>
                  </a>
                </li>
                <li class="nav__butt">
                    <a href="../test/test.html">
                        <p>Контроля знаний</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../other/other.html">
                        <p>Презентация</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="biology__content center column">
        <div>
            <div class="content__line"></div>
            <h1>ПРАКТИЧЕСКИЕ ЗАДАНИЯ</h1>
            <div class="content__line"></div>
        </div>
        <article class="content__theme left column">
            <ul>
                <li class="left column">
                    <p class="theme__title">Задачи</p>
                    <div class="theme__line"></div>

                    <div class="theme__other left column">
                        <p class="theme_task">1. В состав полипептида входят следующие аминокислоты: серин, треонин, лизин, аргинин. Какими свойствами будет обладать полипептид - гидрофильными или гидрофобными? Ответ поясните.</p>
                        <p class="theme_task">2. Фрагмент мембранного белка построен из остатков следующих аминокислот: валин, лейцин, изолейцин, аланин. Как вы думаете, какими свойствами - гидрофильными или гидрофобными - будет обладать данный фрагмент? Ответ поясните.</p>
                        <p class="theme_task">3. В составе гемоглобина крови человека содержится 0.34% железа. Вычислите относительную молекулярную массу гемоглобина.</p>
                        <p class="theme_task">4. Альбумин сыворотки крови человека имеет относительную молекулярную массу 68400. Определите количество аминокислотных остатков в молекуле этого белка, принимая во внимание, что средняя относительная молекулярная масса одной аминокислоты
                            равна 110.</p>
                        <p class="theme_task">5. Растворимый белок яичный альбумин имеет относительную молекулярную массу 36000. Определите количество аминокислотных остатков в молекуле этого белка.</p>
                        <p class="theme_task">6. Молекула глобулярного гидролитического фермента - пепсина, вырабатываемого главными клетками слизистой оболочки желудка, состоит из 340 аминокислотных остатков. Определите наименьшую относительную молекулярную массу этого белка,
                            принимая во внимание, что средняя относительная молекулярная масса аминокислотного остатка в этом белке равна 100.</p>
                        <p class="theme_task">7. Светочувствительный белок (опсин) зрительного пигмента палочек сетчатки глаза позвоночных животных и зрительных клеток беспозвоночных - родопсина состоит из 348 аминокислотных остатков. Определите относительную молекулярную
                            массу этого белка, если средняя относительная молекулярная масса одной аминокислоты равны 116.</p>
                        <p class="theme_task">8. Соматотропин - один из гормонов передней доли гипофиза, гормон роста содержит 191 аминокислотный остаток. Определите минимальную относительную молекулярную массу данного белка, если считать, что средняя относительная молекулярная
                            масса одного аминокислотного остатка равна 116.</p>
                        <p class="theme_task">9. Фермент трипсин, синтезируемый клетками поджелудочной железы, состоит из 223 аминокислотных остатков. Определите минимальную относительную молекулярную массу данного белка, если считать, что средняя относительная молекулярная
                            масса одного аминокислотного остатка равна 116.</p>
                        <p class="theme_task">10. Белок содержит 8% лизина (относительная молекулярная масса остатка лизина составляет 128). Определите минимальную относительную молекулярную массу белка.</p>
                        <p class="theme_task">11. Белок содержит 5% аргинина. Чему равна минимальная относительная масса этого белка, если относительная молекулярная масса остатка аргинина равна 156? Сколько аминокислотных остатков входит в этот белок?</p>
                        <p class="theme_task">12. Полипептид содержит 12,5% глицина. Чему равна относительная минимальная молекулярная масса этого полипептида, если относительная молекулярная масса остатка глицина равна 57? Сколько аминокислотных остатков в этом белке?</p>
                        <p class="theme_task">13. Белок состоит из 100 аминокислотных остатков и имеет следующий состав: 40% глицина, 40% аланина, 10% валина, 5% лейцина и 5% изолейцина. Определите относительную молекулярную массу этого белка. Какими свойствами - гидрофильными
                            или гидрофобными - будет обладать этот белок? Ответ поясните.
                        </p>
                        <p class="theme_task">14. Относительная молекулярная масса эластина составляет 66000. Определите, какое количество остатков глицина входит в состав молекулы эластина, если его содержание в белке составляет 20%.
                        </p>
                        <p class="theme_task">15. Определите, какое количество аминокислотных остатков входит в состав кератиновых микрофибрилл клеток, если известно, что относительная молекулярная масса полипептидной цепи кератина равна приблизительно 65000, три альфа - спирали
                            кератина образуют скрученную в виде жгута протофибриллу, а одиннадцать протофибрилл образуют микрофибриллу. Относительную молекулярную массу аминокислотного остатка можно принять за 100.</p>
                        <p class="theme_task">16. Бычий сывороточный альбумин (БСА) - наиболее распространенный белок крови крупного рогатого скота. Молекула БСА состоит из 607 аминокислотных остатков, которые включают: аланин - 48 остатков, цистеин - 35, аспарагиновая кислота
                            - 41, глутаминовая кислота - 58, фенилаланин - 30, глицин - 17, гистидин - 16, изолейцин - 15, лизин - 60, лейцин - 65, метионин - 5, аспарагин - 14, пролин - 28, глутамин - 21, аргинин - 26, серин - 32, треонин - 34, валин
                            - 38, триптофан - 3, тирозин - 21. Рассчитайте относительную молекулярную массу данного белка.
                            </br> Чем можно объяснить тот факт, что в тканях растений содержание углеводов значительно больше, чем в тканях животных?</p>
                        <p class="theme_task">18. Как вы думаете, за счет чего сорванные незрелыми жесткие и несладкие плоды растений (например яблоки, груши, бананы) при хранении становятся мягкими и сладкими?</p>
                        <p class="theme_task">18. Как вы думаете, за счет чего сорванные незрелыми жесткие и несладкие плоды растений (например яблоки, груши, бананы) при хранении становятся мягкими и сладкими?</p>
                        <p class="theme_task">19. Объясните, почему глюкоза в организме животных хранится в форме гликогена, хотя синтез его требует дополнительных расходов энергии.</p>
                        <p class="theme_task">20. Желудочно-кишечный тракт большинства животных и человека не приспособлен к перевариванию целлюлозы, тогда как крахмал и гликоген легко расщепляются до глюкозы и усваиваются организмом. Объясните причину такого явления, учитывая,
                            что все перечисленные полисахариды состоят из остатков глюкозы. За счет чего происходит переваривание целлюлозы в организме травоядных животных?</p>
                        <p class="theme_task"> Определите сколько остатков глюкозы содержится в молекуле гликогена, если его относительная молекулярная масса составляет примерно 1,62 * 10<sup>6</sup></p>
                        <p class="theme_task">22. Крахмал, запасающийся в клетках растений, состоит из 75% из амилопектина (разветвленный нерастворимый компонент) и на 25% из амилозы (неразветвленный растворимый компонент). Определите, какое количество остатков глюкозы уходит
                            на образование растением 500 г амилозы в составе крахмала. Какое количество крахмала при этом образуется?</p>
                        <p class="theme_task">23. В клетках печени взрослого человека содержится около 120 г гликогена. При снижении содержания глюкозы в крови гликоген гидролизуется, и таким образом содержание глюкозы в крови поддерживается на определенном уровне. Рассчитайте,
                            сколько молекул глюкозы образуется при гидролизе 5% гликогена, содержащегося в клетках печени.</p>
                        <p class="theme_task"> Определите среднюю относительную молекулярную массу молекулы целлюлозы, если известно, что в ее состав входит не менее 1 * 10<sup>4</sup> остатков глюкозы.</p>
                        <p class="theme_task">25. Хитин - азотсодержащий полисахарид с относительной молекулярной массой 260000, полимер из остатков N-ацетилглюкозамина. Определите, сколько остатков N-ацетилглюкозамина образует одну молекулу хитина (строение молекулы N-ацетилглюкозамина
                            описано в учебном пособии «Биология. 10 класс», см. с.27). Рассчитайте, какое количество N-ацетилглюкозамина (г) расходуется организмом насекомого на синтез 1 г хитина.</p>
                        <p class="theme_task">26. В подземных органах земляной груши, одуванчика, цикория, эхинацеи и некоторых других растений в качестве запасного углевода откладывается инулин - полисахарид, состоящий из остатков фруктозы. Относительная молекулярная масса
                            инулина составляет приблизительно 6000. Определите, сколько остатков фруктозы в среднем входит в состав молекулы инулина.</p>
                        <p class="theme_task">27. В клетках пойкилотермных (холоднокровных) животных содержание ненасыщенных жирных кислот обычно выше, чем в клетках гомойотермных (теплокровных). Чем это можно объяснить?</p>
                        <p class="theme_task">28. Сколько граммов глицерина было израсходовано клетками организма на синтез триглицерида, если известно, что при этом был затрачен 21 моль высших карбоновых кислот?</p>
                        <p class="theme_task">29. Как вы думаете, почему при сгорании жиров выделяется больше энергии, чем при сгорании такого же количества углеводов или белков?</p>
                        <p class="theme_task">30. Рассчитайте, сколько граммов метаболической воды может быть образовано в организме верблюда при полном окислении 250 г запасенного жира.</p>
                        <p class="theme_task">31. В лаборатории исследован участок одной из цепей молекулы ДНК. Оказалось, что он состоит из 9 мономеров, которые расположены в следующей последовательности: ГТТАЦЦТАГ. Запишите строение соответствующего участка второй цепи той
                            же молекулы ДНК.</p>
                        <p class="theme_task">32. Во фрагменте одной цепи ДНК нуклеотиды расположены в последовательности ААГТЦТАЦГТА. Запишите схему строения двухцепочечной молекулы ДНК.</p>
                        <p class="theme_task">33. Участок одной цепи ДНК имеет следующее строение: ТТАААГТЦЦГГА. Определите процентное содержание нуклеотидов этого участка.</p>
                        <p class="theme_task">34. Участок одной цепи молекулы ДНК состоит из следующих нуклеотидов: ААГТЦТГГАТТАААГТЦЦГГА. Запишите строение соответствующего участка второй цепи той же молекулы ДНК. Определите процентное содержание всех нуклеотидов этого участка
                            молекулы ДНК.</p>
                    </div>
                </li>
            </ul>
        </article>
    </section>


    <footer>
        <div class="footer__line"></div>
        <div class="footer__authors center column">
            <p>Электронное средство обучения по дисциплине "Математика" 2020</p>
        </div>
    </footer>
</body>

</html>
