.biology__content {
    text-align: center;
}

.content__theory {
    background-color: #EEF6F6;
    background-image: url(../../assets/img/fon.png);
    z-index: -1;
    box-shadow: inset 0px 0px 15px 10px #00000033;
    width: 100vw;
}

.theory__paragraph p,
.theory__title p {
    color: #545A51;
}

.theory__title {
    color: #545A51;
    text-align: left;
    margin: 0px 180px;
}

.theory__paragraph {
    margin: 0px 180px;
    text-align: left;
}

.content__theme h1,
.content__theme h3,
.content__theme p {
    color: #545A51;
}

.theme__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme__text div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0px 200px;
    line-height: 30px;
    font-size: 1.25em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: 20px;
    word-spacing: 6px;
    font-family: 'Montserrat', sans-serif;
}

.theme__text div {
    align-items: center;
}

.theme_task {
    color: #545A51;
    font-size: 17px;
    width: 750px;
    text-align: left;
    padding-top: 19px;
    padding-left: 35px;
    text-indent: -25px;
    z-index: 3;
}
