<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Тригонометрия</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/CAL-flat.ico">
    <link rel="stylesheet" href="../../assets/stackstyles/header.css" />
    <link rel="stylesheet" href="../../assets/stackstyles/sections.css" />
    <link rel="stylesheet" href="test.css" />
    <link rel="stylesheet" href="../../assets/stackstyles/katex.min.css" />

    <script defer src="../../js/katex.min.js"></script>
    <script defer src="../../js/auto-render.min.js"></script>
</head>

<body>
    <header class="center column">
        <div class="biology__title">
            <p class="center">ЭЛЕКТРОННОЕ СРЕДСТВО ОБУЧЕНИЯ</p>
            <p class="center">ПО ДИСЦИПЛИНЕ "МАТЕМАТИКА"</p>
            <p>тригонометрические уравнения</p>
        </div>

        <div class="biology__poster">
            <a href="../../Index.html">
                <img src="../../assets/img/Biology_header.png" alt="Biology" />
            </a>
        </div>

        <nav class="biology__nav center column">
            <p class="nav__section">РАЗДЕЛЫ</p>

            <div class="nav__line"></div>

            <img src="../../assets/img/navbar.png" alt="navbar" />

            <ul class="center row">
                <li class="nav__butt">
                    <a href="../theory/theory.html">
                        <p>Теоретический</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../practice/practice.html">
                        <p>Практический</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../handbook/handbook.html">
                        <p>Справочник</p>
                    </a>
                </li>
                <li class="nav__butt active">
                    <a href="../test/test.html">
                        <p>Контроля знаний</p>
                    </a>
                </li>
                <li class="nav__butt">
                    <a href="../other/other.html">
                        <p>Презентации</p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="biology__content center column">
        <div>
            <div class="content__line"></div>
            <h1>ТЕСТЫ</h1>
            <div class="content__line"></div>
        </div>

        <article class="content__theme left column">
            <ul>
                <li class="left column">
                        <p class="theme__title">Простейшие тригонометрические уравнения</p>
                    <div class="theme__line"></div>

                    <div class="theme__other left column">
                        <a href="./test1/test1.html">Тест №1: Вариант №1</a>
                        <a href="./test1/test2.html">Тест №1: Вариант №2</a>
                        <a href="./test1/test3.html">Тест №2: Вариант №1</a>
                        <a href="./test1/test4.html">Тест №2: Вариант №2</a>
                    </div>
                </li>
                <li class="left column">
                    <p class="theme__title">Различные тригонометрические уравнения</p>
                    <div class="theme__line"></div>

                    <div class="theme__other left column">
                        <a href="test2/test1.html">Вариант 1</a>
                        <a href="test2/test2.html">Вариант 2</a>
                        <a href="test2/test3.html">Вариант 3</a>
                        <a href="test2/test4.html">Вариант 4</a>
                        <a href="test2/test5.html">Вариант 5</a>
                        <a href="test2/test6.html">Вариант 6</a>
                        <a href="test2/test7.html">Вариант 7</a>
                        <a href="test2/test8.html">Вариант 8</a>
                        <a href="test2/test9.html">Вариант 9</a>
                        <a href="test2/test10.html">Вариант 10</a>
                        <a href="test2/test11.html">Вариант 11</a>
                        <a href="test2/test12.html">Вариант 12</a>
                        <a href="test2/test13.html">Вариант 13</a>
                        <a href="test2/test14.html">Вариант 14</a>
                        <a href="test2/test15.html">Вариант 15</a>
                        <a href="test2/test16.html">Вариант 16</a>
                        <a href="test2/test17.html">Вариант 17</a>
                        <a href="test2/test18.html">Вариант 18</a>
                        <a href="test2/test19.html">Вариант 19</a>
                        <a href="test2/test20.html">Вариант 20</a>
                        <a href="test2/test21.html">Вариант 21</a>
                        <a href="test2/test22.html">Вариант 22</a>
                        <a href="test2/test23.html">Вариант 23</a>
                        <a href="test2/test24.html">Вариант 24</a>
                        <a href="test2/test25.html">Вариант 25</a>
                        <a href="test2/test26.html">Вариант 26</a>
                        <a href="test2/test27.html">Вариант 27</a>
                        <a href="test2/test28.html">Вариант 28</a>
                        <a href="test2/test29.html">Вариант 29</a>
                        <a href="test2/test30.html">Вариант 30</a>
                        <a href="test2/test31.html">Вариант 31</a>
                        <a href="test2/test32.html">Вариант 32</a>
                    </div>
                </li>
                <li class="left column">
                    <p class="theme__title">Проверочная работа по теме «Тригонометрические уравнения»</p>
                    <div class="theme__line"></div>

                    <div class="theme__other left column">
                        <a href="./test3/test1.html">Практическая работа</a>
                    </div>
                </li>
            </ul>
        </article>
    </section>


    <footer>
        <div class="footer__line"></div>
        <div class="footer__authors center column">
            <p>Электронное средство обучения по дисциплине "Математика" 2020</p>
        </div>
    </footer>
</body>

</html>
